.landing {
	display: grid;
	grid-template: minmax(0, 2fr) minmax(0, 4fr) minmax(0, 2fr) / 100%;
	grid-template-areas:
		"ladder"
		"sphere"
		"title";
	align-items: center;
	justify-items: center;
	position: relative;

	&__ladder {
		grid-area: ladder;

		&.ladder {
			height: 40vh;
			width: 70vw;
			transform: translate(15vw, 30%);
		}
	}

	&__sphere {
		grid-area: sphere;
	}

	&__title {
		grid-area: title;
		margin: auto 0 $generalPadding 0;
		text-transform: none;
	}
}
