.bg {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;

	&-master {
		grid-area: 1 / 1 / -1 / -1;
		background-color: map-get($colors, "secondary");
		z-index: map-get($zIndex, "background");
	}

	// TEMP //
	transform: scale(1.2);
}
