.coveredPicture {
    position: relative;
    &__cover {  
        position: absolute;
        right: 0;
        top: 0;
        bottom: 0;
        left: 0;
        background-color: map-get($colors, 'secondary' );
    }

    &__img {
        
    }
}