/* FIXED */
.fixed {
	//structure
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100%;
	z-index: map-get($zIndex, "fixed");
	display: grid;
	grid-template: ($topbarHeight 1fr auto) / auto;
	grid-template-areas:
		"topbar"
		"content"
		"footer";

	//animating
	will-change: clip-path;
	clip-path: circle(0% at 0% 0%);

	//styling
	padding: $pageMargin;
	background-color: map-get($colors, "primary");

	&_content {
		grid-area: content;
		display: flex;
		padding: $generalPadding;
	}

	.main_nav {
		font-size: 3rem;
		line-height: 3.5rem;
		display: flex;
		align-items: center;
		font-weight: 700;

		&__list {
			padding: 0;
		}

		&__item {
			a {
				display: flex;
				color: map-get($colors, "secondary");
				transition: transform $transition-time;
				align-items: center;

				&::after {
					content: "";
					transition: width $transition-time;
					width: 0;
					margin-left: 1rem;
					height: 5px;
					background-color: map-get($colors, "secondary");
				}
				&:hover {
					&::after {
						width: 3rem;
					}
					transform: translateX(30px);
				}
			}
		}
	}

	&_footer {
		grid-area: footer;
		padding: $generalPadding;

		hr {
			height: 2px;
			background-color: map-get($colors, "secondary");
			width: 100%;
			margin: 2rem 0;
		}

		&__inner {
			display: flex;
			justify-content: space-between;

			button,
			a,
			strong {
				color: map-get($colors, "secondary");
				text-transform: uppercase;
				font-weight: 900;
			}

			.lang_switcher {
				button {
					&:first-of-type {
						background-image: $fixedGradient;
						background-clip: text;
						color: transparent;
					}
					font-weight: 700;
					margin-left: 0.5rem;
				}
			}

			.socials {
				display: flex;
				a {
					letter-spacing: 0.1rem;
					margin-bottom: 0.4rem;
					margin-left: 0.7rem;
				}
			}
		}
	}
}
/* FIXED END */

/* TOPBAR */
.topbar {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: $generalPadding $generalPadding 0 $generalPadding;
	grid-area: topbar;
	z-index: map-get($zIndex, "topbar");

	.toggler {
		width: $toggler-base * 2;
		height: $toggler-base * 2;

		.toggler__icon {
			width: $toggler-base * 2;
			height: $toggler-base;
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			justify-content: space-around;

			&::after,
			&::before {
				content: "";
				width: $toggler-base * 1.7;
				height: 2px;
				background: map-get($colors, "primary");
			}

			&::after {
				width: $toggler-base * 1.2;
			}

			&--cross {
				&::after,
				&::before {
					position: absolute;
				}

				&::after {
					top: auto;
					width: $toggler-base * 1.7;
					transform: rotate(45deg);
				}

				&::before {
					bottom: auto;
					transform: rotate(-45deg);
				}
			}

			&--secondary {
				&::after,
				&::before {
					background-color: map-get($colors, "secondary");
				}
			}
		}
	}

	.logo {
		color: map-get($colors, "primary");
		font-size: 1rem;
		letter-spacing: 1.7rem;
		margin-right: -1.7rem;
		text-transform: uppercase;
		font-weight: 300;

		&--secondary {
			color: map-get($colors, "secondary");
		}
		@include breakpoint-up(lg) {
			margin-right: 0;
			position: absolute;
			left: 50%;
			padding-left: 1.7rem;
			transform: translateX(-50%);
		}
	}

	$contactBtnSize: 80px;
	.contactBtn {
		position: relative;
		display: flex;
		justify-content: center;
		align-items: center;
		width: $contactBtnSize;
		height: $contactBtnSize;
		animation: 20s rotate linear infinite;
		//animation-iteration-count: infinite;
		.rotateText {
			position: absolute;
			width: 20px;
			height: $contactBtnSize;
			transform-origin: center center;
			text-transform: uppercase;
			text-align: center;

			@include rotate-text(7, 360deg);
		}
	}
}
/* TOPBAR END*/

@keyframes rotate {
	0% {
		transform: rotate(0);
	}
	100% {
		transform: rotate(360deg);
	}
}
