$mainMenuHeight: 30rem;
$transition-time: 0.3s;
$pageMargin: 4rem;
$topbarHeight: 2rem;
$fixedGradient: linear-gradient(#0e798b 70%, #13cb73);
$colors: (
	'primary': white,
	'secondary': #090909,
	'detailed': #0e798b,
);
$zIndex: (
	'topbar': 999,
	'fixed': 1000,
);

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;300;400;900&display=swap');

*,
*::after,
*::before {
	box-sizing: border-box;
}
:root {
	font-size: 18px;
	font-family: 'Roboto', sans-serif;
}

body {
	margin: 0;
	background-color: map-get($colors, 'secondary');
	color: map-get($colors, 'primary');
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
#root {
	width: 100vw;
	height: 100vh;
	display: grid;
	overflow: hidden;
	position: relative;
	font-size: 18px;
}
a {
	color: map-get($colors, 'primary');
	text-decoration: none;
	transition: color $transition-time;
	will-change: color;
	&:hover {
		color: map_get($colors, 'detailed');
	}
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
	margin-top: 0;
	margin-bottom: 1rem;
}

h1,
h2,
h3,
h4,
h5,
h6,
strong {
	//text-transform: uppercase;
}

p {
	font-size: 1.5rem;
}

h1 {
	font-size: 3.2rem;
}
button {
	font-family: 'Roboto', sans-serif;
	background-color: transparent;
	border: 0;
	padding: 0;
	&:focus {
		outline: 0;
	}
}
main {
	flex-grow: 1;
	display: grid;
	width: 100%;
	height: 100%;
}
.background {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
}
.landing {
	grid-template: ($pageMargin + $topbarHeight repeat(6, 1fr) $pageMargin) / (
			$pageMargin repeat(9, 1fr) $pageMargin
		);
	&_bg {
		grid-area: 1 / 1 / -1 / span 6;
		background-color: #030303;
		z-index: 1;
	}
	&_img {
		z-index: 2;
		grid-area: 2 / 4 / -1 / -3;
		display: flex;
		align-items: flex-end;
		justify-content: center;
		position: relative;
		svg {
			z-index: 1;
			position: absolute;
			left: 50%;
			top: 50%;
			width: 65%;
			height: 65%;
			transform: translate(-40%, -50%);
			circle {
				stroke-dasharray: 2000;
				stroke-dashoffset: 2000;
			}
		}

		img {
			z-index: 2;
			object-fit: scale-down;
			width: 100%;
			max-width: 100%;
			max-height: 100%;
		}
	}
	&_content {
		z-index: 2;
		grid-area: 2 / 2 / -2 / span 3;
		display: flex;
		flex-direction: column;
		justify-content: center;
		a {
			margin-top: 2rem;
			display: flex;
			align-items: center;
			&::after {
				content: '';
				width: 2.5rem;
				height: 2px;
				margin: 0 0.5rem;
				background-color: white;
			}
		}
	}
}
.projects {
	grid-template: ($pageMargin + $topbarHeight 1fr $pageMargin) / (
			$pageMargin 1fr $pageMargin
		);
	&_content {
		grid-area: 2 / 2 / -2 / -2;
		display: flex;
		z-index: 2;
	}
	&_bg {
		z-index: 1;
		grid-area: 1 / 1 / -1 / -1;
		background-color: #030303;
	}
}
.verticalSlider {
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100%;
	.slide {
		display: flex;
		align-items: center;
		justify-content: space-between;
		flex-grow: 1;
		&_info {
			flex: 0 0 30%;
		}
		&_img {
			flex: 0 0 40%;
		}
	}
	.controls {
		margin: 1rem 0;
		display: flex;
		justify-content: center;
	}
	.controler {
		border-radius: 50%;
		width: 0.8rem;
		height: 0.8rem;
		border: 2px solid rgba(map-get($colors, 'primary'), 0.6);
		cursor: pointer;
		margin: 0.5rem;
		transition: border-color $transition-time;

		&.active {
			border-color: map-get($colors, 'detailed');
		}
		&:hover {
			border-color: rgba(map-get($colors, 'detailed'), 0.6);
		}
	}
}
.contact {
	grid-template: ($pageMargin + $topbarHeight 1fr $pageMargin)/ ($pageMargin
				1fr $pageMargin);

	&_content {
		grid-area: 2 / 2 / span 1 / span 1;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		z-index: 2;
	}
	&_bg {
		z-index: 1;
		grid-area: 1 / 1 / -1 / -1;
		background-color: #030303;
	}
}
.text {
	&-center {
		text-align: center;
	}
	&-uppercase {
		text-transform: uppercase;
	}
}

.topbar {
	display: flex;
	height: $topbarHeight + $pageMargin;
	padding: $pageMargin $pageMargin 0 $pageMargin;
	align-items: center;
	justify-content: space-between;
	z-index: map-get($zIndex, 'topbar');
	position: absolute;
	width: 100%;
	letter-spacing: 0.4rem;
}
.toggler {
	display: flex;
	position: relative;
	align-items: center;
	justify-content: center;
	width: 2.5rem;
	height: 2.5rem;
	left: 0;
	&::after,
	&::before {
		content: '';
		width: 1.7rem;
		height: 2px;
		border-radius: 1%;
		background: map-get($colors, 'primary');
		position: absolute;
	}
	&::after {
		top: 1rem;
	}
	&::before {
		bottom: 1rem;
	}
}
.logo {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	color: rgba(white, 0.8);
	font-size: 1.2rem;
	letter-spacing: 0.7rem;
	padding-left: 0.7rem;
	text-transform: uppercase;
	font-weight: 300;
}
.fixed {
	position: fixed;
	padding: $pageMargin;
	display: flex;
	flex-direction: column;
	opacity: 1;
	clip-path: circle(0 at ($pageMargin + 0.9rem) $pageMargin + 0.9rem);
	left: 0;
	top: 0;
	width: 100vw;
	height: 100vh;
	background-color: map-get($colors, 'primary');
	z-index: map-get($zIndex, 'fixed');
	.topbar {
		padding: 0;
		position: relative;
		height: $topbarHeight;
	}
	.logo {
		color: map-get($colors, 'secondary');
	}
	.toggler {
		&::after,
		&::before {
			background-color: map-get($colors, 'secondary');
		}
		&::after {
			top: auto;
			transform: rotate(45deg);
		}
		&::before {
			bottom: auto;
			transform: rotate(-45deg);
		}
	}
}
.mainNav {
	width: 100%;
	height: 100%;
	font-size: 3rem;
	display: flex;
	align-items: center;
	justify-content: center;
	font-weight: 700;
	a {
		position: relative;
		display: flex;
		color: map-get($colors, 'secondary');
		transition: transform $transition-time;
		align-items: center;
		&::after {
			content: '';
			transition: width $transition-time;
			width: 0;
			margin-left: 1rem;
			height: 5px;
			background-color: map-get($colors, 'secondary');
		}
		&:hover {
			&::after {
				width: 3rem;
			}
			transform: translateX(30px);
		}
	}
}

.nav {
	list-style: none;
	display: flex;
	margin: 0;
	padding: 0;
	width: 100%;
	&-column {
		flex-direction: column;
		.nav {
			&_item {
				margin: 1rem 0;
			}
		}
	}
	&_item {
		margin-right: 1rem;
		a {
			text-decoration: none;
		}
	}
}
.floating {
	perspective: 1000px;
	width: 100%;
	height: 100%;
	&_inside {
		width: 100%;
		height: 100%;
		transform-origin: 50% 50%;
		transition-duration: 300ms;
	}
}
.image {
	margin: 0;
}
.aspect_ratio {
	&-16_9 {
		padding-top: 56.25%;
		position: relative;
		> * {
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
		}
	}
}
.object {
	&-cover {
		object-fit: cover;
	}
}
.bg {
	&_stacker {
		position: absolute;
		width: 100%;
		left: 0;
		top: 0;
		height: 100%;
		z-index: 1;
		.stacker {
			position: absolute;
			width: 100%;
			left: 0;
			top: 0;
			height: 100%;
			&_1 {
				z-index: 1;
				background: #030303;
			}
			&_2 {
				z-index: 2;
				background-image: $fixedGradient;
			}
			&_3 {
				z-index: 3;
				background: #030303;
			}
		}
	}
}

.toggler {
	display: flex;
	align-items: center;
	//margin-left: 0;
}

hr {
	height: 2px;
	background-color: map-get($colors, 'secondary');
	width: 100%;
	margin: 2rem 0;
}
.footer {
	display: flex;
	justify-content: space-between;
	a,
	strong {
		color: map-get($colors, 'secondary');
	}
	.lang {
		strong {
			text-transform: uppercase;
			font-weight: 300;
		}
		a {
			&:first-of-type {
				background-image: $fixedGradient;
				background-clip: text;
				color: transparent;
			}
			font-weight: 700;
			margin-left: 0.5rem;
		}
	}
	.socials {
		display: flex;
		a {
			text-transform: uppercase;
			font-weight: 700;
			letter-spacing: 0.1rem;
			margin-bottom: 0.4rem;
			margin-left: 0.7rem;
		}
	}
}
