*,
*::after,
*::before {
	box-sizing: border-box;
}
:root {
	font-size: 20px;
	line-height: 35px;
	font-family: 'Barlow Condensed', sans-serif;
}
::selection {
	background: map-get($colors, 'detailed' );
}

body {
	margin: 0;
	background-color: #eeeeee;
	color: map-get($colors, 'primary');
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	letter-spacing: 0.035em;
	overflow-y: overlay;
}
#mainContent {
	width: 100vw;
	height: 100vh;
	padding: $pageMargin;
	display: grid;
	grid-template: $topbarHeight auto / 100%;
	grid-template-areas: 
		'topbar'
		'content';
	position: relative;
}
a {
	color: map-get($colors, 'primary');
	text-decoration: none;
	transition: color $transition-time;
	will-change: color;
	&:hover {
		color: map_get($colors, 'detailed');
	}
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin-top: 0;
	margin-bottom: 1rem;
	font-weight: 600;
	line-height: 85%;
	text-transform: uppercase;
}

p {
	margin-top: 0;
	letter-spacing: 0.035em;
	font-weight: 400;
}

h1 {
	text-transform: uppercase;
	font-size: 10rem;
	letter-spacing: calc(10rem * 0.035);
}
h2 {
	font-size: 5rem;
	letter-spacing: calc(5rem * 0.035);
}
h4 {
	font-size: 1.5rem;
	letter-spacing: calc(1.5rem * 0.035);
}

button {
	font-family: 'Barlow Condensed', sans-serif;
	background-color: transparent;
	border: 0;
	padding: 0;
	&:focus {
		outline: 0;
	}
}

main {
	z-index: map-get($zIndex, 'content');
	position: relative;
}

.p {
	&y {
		&-5 {
			padding-top: 3rem;
			padding-bottom: 3rem;
		}
	}
	&t {
		&-5 {
			padding-top: 3rem;
		}
	}
	&b {
		&-5 {
			padding-bottom: 3rem;
		}
	}
}
