@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@300;400;500;600&display=swap");

/*@font-face {
	font-family: "Bigilla";
	src: url("../../assets//BigillaRegular.woff2") format("woff2"),
		url("../../assets/BigillaRegular.woff") format("woff");
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}
*/
